.react-chatbot-kit-chat-container {
	position: relative;
	width: 100vw !important;
	height: 800px !important;

	/* overflow: hidden; */
}

.react-chatbot-kit-chat-message-container {
	height: 700px;
}

.react-chatbot-kit-chat-bot-message {
	width: auto !important;
	height: auto !important;
}
